@import "tailwindcss";

@theme{
    --animate-slideIn: slideIn 0.4s ease-out;
    --animate-slideOut: slideOut 0.4s ease-in;
    @keyframes slideIn {
        0%,60%{ 
            transform: translateX(100%);
            opacity: 0;
        }
        100% { 
            transform: translateX(0%);
            opacity: 1;
        }
    }
    @keyframes slideOut {
        0%,60%{ 
            transform: translateX(0%);
            opacity: 0;
        }
        100% { 
            transform: translateX(100%);
            opacity: 1;
        }
    }
}