@import "tailwindcss";

@theme{
    --animate-slideIn: slideIn 0.4s ease-out;
    --animate-slideLeft: slideLeft 0.4s ease-out;
    --animate-slideRight: slideRight 0.4s ease-out;
    --animate-slideTop: slideTop 0.4s ease-out;
    --animate-slideBottom: slideBottom 0.4s ease-out;
    --animate-slideOut: slideOut 0.4s ease-in;
    @keyframes slideIn {
        0%,60%{ 
            transform: translateX(100%);
            opacity: 0;
        }
        100% { 
            transform: translateX(0%);
            opacity: 1;
        }
    }
    @keyframes slideRight {
        0%,60%{ 
            transform: translateX(100%);
            opacity: 0;
        }
        100% { 
            transform: translateX(0%);
            opacity: 1;
        }
    }
    @keyframes slideLeft {
        0%,60%{ 
            transform: translateX(-100%);
            opacity: 0;
        }
        100% { 
            transform: translateX(0%);
            opacity: 1;
        }
    }
    @keyframes slideTop {
        0%,60%{ 
            transform: translateY(-100%);
            opacity: 0;
        }
        100% { 
            transform: translateX(0%);
            opacity: 1;
        }
    }
    @keyframes slideBottom {
        0%,60%{ 
            transform: translateY(100%);
            opacity: 0;
        }
        100% { 
            transform: translateX(0%);
            opacity: 1;
        }
    }
    @keyframes slideOut {
        0%,60%{ 
            transform: translateX(0%);
            opacity: 0;
        }
        100% { 
            transform: translateX(100%);
            opacity: 1;
        }
    }
}